.cardItself {
  background-color: #f3f3f3;
  position: relative;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.userImage {
  margin-bottom: 15px;
  border-radius: 6px;
  width: 150px;
  padding: 5px;
  object-fit: cover;
  border: 2px solid #ddd;

}


.imageWithEdit {
  text-align: center;
  position: relative; 
  width: 150px;
  height: 200px; 
}

.userEditImage {
  position: absolute;
left: 0;
bottom: 0 
}

.userEditImage:hover {
  cursor: pointer;
}

.littleHeaderCard {
  margin-inline-end: 5px;
  font-size: 14px;
  font-style: italic;
  color: #920000;
}

.mainMiddleHeader {
  margin-inline-end: 5px;
  font-size: 15px;
  font-style: italic;
  color: #000b52;
}

.dataCard {
  font-size: 15px;
  padding-bottom: 6px;
  display: inline-block;
  padding-inline-end: 3px;
}
