.NavBar {
  display: flex;
}

.NavTotalBar {
  background-color: #e6e6e6;
  width: 100%;
  padding-top: 5px;
}

.LeftSide {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.RightSide {
  flex: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navlink {
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin: 3px;
  padding: 5px;
  padding-bottom: 17px;
}

.navlinkStatic {
  text-decoration: none;
  color: black;
  font-size: 17px;
  padding: 10px;
}

.navlink:hover {
  color: black;
  border-bottom: 2.5px black solid;
}

.menuIcon {
  padding: 5px;
  display: inline-block;
}

.divProfileNav {
  display: inline-block;
}

.userPicRequestFriend {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.friendBoxHeb {
  position: absolute;
  top: 50px;
  right: 298px;
  z-index: 9999;
}

.friendBoxEng {
  position: absolute;
  top: 50px;
  left: 260px;
  z-index: 9999;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  margin: 0 auto;
}

.contentItselfBox {
  width: 300px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  max-height: 300px;
  overflow: auto;
}

.profileChange {
  font-size: 12px;
}

.searchButton {
  font-size: 30px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #e6e6e6 !important;
}

.searchButton:hover {
  color: lightgrey;
}

.LeftSide input {
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding-inline-start: 5px;
}

.manubarMobile {
  display: none;
}

.mobileSection {
  display: none;
}

.notificationSymbol {
  font-size: 21px;

  margin-inline-end: 30px;
  display: inline-block;
  color: #313123;
  position: relative;
}

.marginInlineStart {
  margin-inline-start: 25px;
}

.messageText {
  display: inline-block;
}

.marginEnd {
  margin-inline-end: 15px;
}

.notificationNumberContainer {
  font-size: 12px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #000732;
}

.notificationNumber {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.profilePicLogo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

@media only screen and (max-width: 950px) {
  .friendBoxHeb {
    display: none;
  }

  .friendBoxEng {
    display: none;
  }

  .marginInlineStart {
    margin-inline-start: 0px;
  }

  .marginEnd {
    margin-inline-end: 0px;
  }

  .notificationSymbol {
    font-size: 23px;
    margin-inline-start: 25px;
    padding-top: 10px;
  }

  .manubarMobile {
    display: flex;
    color: white;
    font-size: 45px;
    margin-inline-start: 15px;
    cursor: pointer;
  }
  .myRightLinks {
    display: none;
  }

  .LeftSide {
    display: none;
  }
  #mobileView {
    display: flex;
    height: 390px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #e6e6e6;
    flex-direction: column;
    align-items: center;
  }

  .navlink {
    font-size: 20px;
  }

  .mobileSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .inputMobile {
    border: none;
    border-radius: 4px;
    font-size: 18px;
    padding-inline-start: 5px;
    margin-inline-start: 15px;
    margin-inline-end: 5px;
    flex-grow: 1;
  }
  .searchButton {
    font-size: 35px;
  }
}
