.NavTotalBar {
  background-color: #e6e6e6;
  width: 100%;
  padding-top: 3px;
  height: 60px;
}

.navBarFlexDirection {
  display: flex;
  justify-content: space-between;
}

.navlink {
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin: 3px;
  padding: 5px;
  padding-bottom: 15px;
  display: inline-block;
  margin-top: 8px;
}

.navlinkStatic {
  text-decoration: none;
  color: black;
  font-size: 17px;
  padding: 10px;
}

.navlink:hover {
  color: black;
  border-bottom: 2.5px black solid;
}

.menuIcon {
  padding: 5px;
  display: inline-block;
}

.divProfileNav {
  display: inline-block;
}

.userPicRequestFriend {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.friendBoxHeb {
  position: absolute;
  top: 50px;
  right: 298px;
  z-index: 9999;
}

.friendBoxEng {
  position: absolute;
  top: 50px;
  left: 260px;
  z-index: 9999;
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  margin: 0 auto;
}

.contentItselfBox {
  min-width: 300px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  max-height: 300px;
  overflow: auto;
}

.profileChange {
  font-size: 12px;
}

.searchButton {
  font-size: 24px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: transparent !important;
}

.searchButton:hover {
  color: lightgrey;
}

.searchInput {
  width: 220px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-size: 16px;
  padding-inline-start: 5px;
}

.manubarMobile {
  display: none;
}

/* .mobileSection {
  display: none;
} */

.notificationSymbol {
  font-size: 21px;

  margin-inline-end: 30px;
  display: inline-block;
  color: #313123;
  position: relative;
}

.marginInlineStart {
  margin-inline-start: 25px;
  margin-top: 8px;
  display: inline-block;
}

.messageText {
  display: inline-block;
}

.marginEnd {
  margin-inline-end: 15px;
}

.notificationNumberContainer {
  font-size: 12px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  width: 18px;
  background-color: #000732;
}

.notificationNumber {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.flexDirection {
  display: flex;
}

.flexDirectionWithReverse {
  display: flex;
}

.marginTopDesktop {
  margin-top: 8px;
}

.mobileView {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #e6e6e6;
  align-items: center;
}

@media only screen and (max-width: 920px) {
  .notificationNumberContainer {
    background-color: #1c2672;
  }
  .mobileView {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #e6e6e6;
    flex-direction: column;
    align-items: center;
  }

  .contentItselfBox {
    min-width: auto;
  }

  .friendBoxHeb,
  .friendBoxEng {
    position: absolute;
    width: 100%;
    top: 47px;
    right: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
  }

  .arrowUp {
    border-bottom: 12px solid transparent;
  }

  .arrowUpMobile {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
  }

  .marginTopDesktop {
    margin-top: 0px;
  }
  .marginInlineStart {
    margin-top: 0px;
  }

  .notificationSymbolPhone {
    font-size: 23px;
    margin-inline-end: 30px;
    display: inline-block;
    color: #2c2c2c;
    position: relative;
  }

  .searchGroup {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    padding-bottom: 30px;
  }

  .searchInput {
    width: 200px;
  }

  .searchButton {
    font-size: 20px;
  }

  .notificationSymbol {
    display: none;
  }

  .NavTotalBarPhone {
    background-color: #e6e6e6;
    width: 100%;

    padding-top: 3px;
  }

  .NavTotalBar {
    padding-top: 0;
    height: auto;
  }

  .flexDirection {
    flex-direction: column;
    text-align: center;
  }

  .flexDirectionWithReverse {
    flex-direction: column-reverse;
    text-align: center;
  }

  .navBarFlexDirection {
    display: none;
  }

  .showNavBar {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .marginInlineStart {
    margin-inline-start: 0px;
  }

  .marginEnd {
    margin-inline-end: 0px;
  }

  .notificationSymbol {
    font-size: 23px;
    margin-inline-start: 25px;
    padding-top: 10px;
  }

  .manubarMobile {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 12px;
    border-bottom: 2px black solid;

    align-items: flex-start;
    flex-direction: row;
    background-color: #e4e4e4;
    color: rgb(49, 49, 49);
    font-size: 35px;
    cursor: pointer;
  }
  .myRightLinks {
    display: none;
  }

  #dontDisplay {
    display: none;
  }

  .navlink {
    font-size: 20px;
  }
}
