.welcomeMessage {
  text-align: center;
  padding-top: 15px;
  font-size: 15px;
}

.preLine {
  white-space: pre-line;
}

.post {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 10px -12px black;
}

.pictureHomePage {
  margin-bottom: 15px;
  border-radius: 6px;
  width: 150px;
  padding: 5px;
  object-fit: cover;
  border: 2px solid #b6b6b6;
  display: block;
  margin: 0 auto;
}
.textareaAutoExpand {
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
  resize: none;
  font-size: 15px;
  line-height: 24px;
  overflow: auto;
  height: auto;
  padding: 8px;
  box-shadow: 0px 4px 10px -16px black;
  background-color: white;
  border: 1px solid #d1d1d1;
  width: 100%;
}

#commentAreaFixes {
  font-size: 14px;
  line-height: 20px;
}

.textareaAutoExpand:focus {
  outline: none;
}

.buttonsPost {
  border-top: 1px solid rgb(223, 223, 223);
  padding-top: 15px;
}
.tag {
  background-color: white;
  font-size: 10px;
  height: 20px;
  margin-top: 5px;
  padding: 1px 5px 0px 5px;
  border-radius: 10px;
  border: 1px solid #292929;
}

.postPic {
  width: 50px;
  height: 50px;
  border-radius: 20%;
}

.comments {
  font-size: 12px;
  white-space: pre-line;
}

.miniBtnMiniComment {
  font-size: 10px;
  background-color: white;
  padding: 2px;
  border: 1px solid #dbdbdb;
}

.editDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.miniHeadingItalic {
  font-size: 13px;
  color: #6f6f6f;
  font-style: italic;
  font-weight: 500;
  margin-top: 10px;
  padding-inline-start: 10px;
}

.bookItemRecommendation {
  font-size: 11px;
  padding: 2px;
  color: #424242;
  font-style: normal;
}

.bookItemRecommendation:hover {
  color: #1313e0;
}
.closeModalButton {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
}

.sideBarHeight {
  background-color: #c2ccc4;
}

.paddingEndMobile {
  padding-inline-end: 0px;
}

@media (max-width: 991px) {
  .sideBarHeight {
    height: auto;
  }

  .paddingEndMobile {
    padding-inline-end: 20px;
  }
}
