@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=IBM+Plex+Sans+Hebrew:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "IBM Plex Sans Hebrew",
    "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  overflow-x: hidden;
}

.menuIcon {
  font-size: 25px;
  padding-inline-start: 10px;
  padding-top: 5px;
  color: #1f1f1f;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .mobile-space {
  }
}

@media screen and (max-width: 767px) {
  .padding-top-homePage {
    padding-top: 30px;
  }
}

.responsive-image {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-control:focus {
  border-color: #e6e6e6 !important;
  box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.075), 0 0 4px #8f8d8a !important;
}

.form-check-input:checked {
  background-color: #919191 !important;
  border: none !important;
}
/* .form-check-input:focus {
  box-shadow: none !important;
} */
.form-check-input:hover {
  box-shadow: none !important;
  border: 1px #a3a3a3 solid !important;
}
