@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@500&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans Hebrew", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.menuIcon {
  font-size: 25px;
  padding-inline-start: 10px;
  padding-top: 5px;
  color: #d3c6b4;
  cursor: pointer;
}

@media screen and (max-width: 990px) {
  .mobile-space {
    margin-top: 30px;
  }
}
