@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "IBM Plex Sans Hebrew",
    "Open Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
}

.borderTopAllContent {
  border-top: 2px #dadada solid;
}

@media screen and (max-width: 650px) {
  .borderTopAllContent {
    border-top: 2px #474747 solid;
  }
}

#footer {
  background-color: #e6e6e6;
}

.menuIcon {
  font-size: 25px;
  padding-inline-start: 10px;
  padding-top: 5px;
  color: #1f1f1f;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .padding-top-homePage {
    padding-top: 30px;
  }
}

.responsive-image {
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-control:focus {
  border-color: #e6e6e6 !important;

  box-shadow: inset 0 0px 2px rgba(0, 0, 0, 0.075), 0 0 2px #8f8d8a !important;
}

.textAreaForm {
  resize: none;
}
.form-check-input:checked {
  background-color: #919191 !important;
  border: none !important;
}

.form-check-input:hover,
.form-select:hover,
.form-select:focus {
  box-shadow: none !important;
  border: 1px #a3a3a3 solid !important;
}

.autoCompleteOption {
  padding: 2px;
}
.autoCompleteOption:hover,
.autoCompleteOptionOn {
  padding: 2px;
  background-color: rgb(7, 7, 66);
  color: white;
}

.suggestionBox {
  position: absolute;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  width: 205px;
  background-color: white;
}

.iconBook {
  width: 50px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #6f8ead;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loadingHome {
  font-family: "Nunito", sans-serif;
}
